<!DOCTYPE html>
<html>
<head><title>Accueil de TowerDefense</title></head>
<body>
	<h1>Bienvenue <%= login %> !</h1>
	<div class="left">
		<h3>Vos amis</h3>
		<!-- Affiche avec une boucle forEach les amis du joueur -->
		<h5>Inviter un joueur à devenir votre ami</h5> <!-- envoie à TowerDefense.js (qui écoute cet evenement) comme quoi le joueur veut inviter un ami. Nouvelle page ou socket ? -->
	</div>

	<div class="game">
		<h3>Défier un de vos amis !</h3>
		<!-- Créer une socket entre les deux joueurs. Le jeu peut commencer quand les deux jouers sont connectés. Créer une sorte de mdp que les joueurs doivent donner dans un temps imprati pour éviter que plus de deux jouers ne se connectent au jeu (=server) ? -->
</body>
</html>