<!DOCTYPE html>
<html>
<head><title>Connexion à TowerDefense</title></head>
<body>
	<h1>Veuillez vous connecter ou vous inscrire svp</h1>
	<% if (message!='') { %> <p> <%= message %> </p> <% } %>
	<form action="/register/" method="post">
        <input type="text" name="login" placeholder="Pseudo" autofocus />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" name="submit" value="connection" />
        <input type="submit" name="submit" value="inscription" />
    </form>
</body>
</html>